:root {
  --main-bg-color: aliceblue;
  --secondary-bg-color: powderblue;
  --ternary-bg-color: rgb(149 231 231);
}

body {
  background-color: var(--main-bg-color);
}

/* header background */
header {
  background-image: linear-gradient(to right, rgb(145 215 238), rgb(31 31 146));
  height: 80px;
}

/* Weather dashboard header */
#header h1 {
  color: whitesmoke;
  font-size: 3rem;
  font-weight: bold;
  text-align: right;
  margin-right: 1rem;
}

/* left and right side of app */
div .row {
  padding: 0.5rem;
  margin: 0.25rem;
}

/* search button sizing and padding */
button {
  padding: 2rem;
  margin: 2rem;
}

/* search bar for text input */
#citySearch {
  width: 100%;
}

/* clear history link for previously searched cities */
#clearHistory {
  color: black;
  font-size: 1.2em;
  text-decoration: none;
}

#current {
  background-color: azure;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  height: 15rem;
  margin: 1rem 1rem 1rem;
  padding: 1rem;
  width: 45rem;
}
